<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:\Users\manma\Anul 3\Semestrul 2\VVSS\LasAmazonas-INVENTORY\Docs\Lab05">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="scenarios.ScenariosTests"/>
        </classes>
    </test>
</suite>